{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}

{% block body %}
    <div style="text-align: center">
        <h1>THANK YOU</h1>
        <h3>THANKS FOR GETTING TOUCH WITH US</h3>
    </div>
{% endblock %}